
body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #46B3B3;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  z-index: 4;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  border-radius: 7px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.messages {
  display: flow-root;
  margin: 10px 10px 100px 10px;
}
.message {
  max-width: 55%;
  display: flex;
  padding: 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 6px;
  box-shadow: 1px 2px 3px grey;
  margin: 6px;
}

.message.system {
  background: none;
  border: none;
  box-shadow: none;
  font-style: italic;
  color: grey;
  padding: 5px 20px;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message.message-right {
  position: relative;
  display: grid;
  background: #f6f6f6;
  float: right;
  margin-left: 45%;
}

.message.message-left {
  position: relative;
  display: grid;
  background: #B9DCBB;
  float: left;
  margin-right: 45%;
}

.message-content,
.message-username {
  overflow: visible;
  padding: 0 10px 0 0;
  min-width: 30px;
}

.message-content {
  flex: 2;
  min-height: 16px;
  height: auto;
  word-break: break-word;
  margin: 5px;
}

.messages > .message > .message-username {
  flex: 2;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0;
  margin: 0;
}

.navbar {
  background: #46B3B3;
  border-bottom: 1px solid #3F8E8E;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px 0 12px;
  text-decoration: none;
}

.navbar > .logo {
  float: left;
  padding: 7.5px 0 7.5px 0;
  height: 45px;
  width: 45px;
}

.navbar > .user_count {
  float: right;
  font-size: 10px;
  padding: 14px 0;
  color: grey;
}
